body {
  background-color: rgba(255, 192, 203, 0.5);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  padding-bottom: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li {
  margin-right: 10px;
}

.centered-nav {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-section {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.menu-section-heading {
  cursor: pointer;
}

.menu-item-details {
  height: 0;
  overflow: hidden;
  transition: height 1s ease;
}

.menu-section:hover .menu-item-details {
  height: auto;
}
